.brand-img{
    width: 60px;
    margin: auto;
}
.myblue{
    background: #472864 !important;
    color: #fff !important;
    font-weight: 800;
    text-transform: capitalize !important;
}
.mybluecolor{
    color: #472864 !important;
}